@use "../../global" as g;

.p-contact-form {
  &__inner {
    max-width: 780px;
  }
  &__lead {
    margin-bottom: 40px;
    text-align: center;

    @include g.mq(md) {
      margin-bottom: 30px;
    }
  }
  &__body {
    padding: 90px;
    background-color: #f7f7f7;

    @include g.mq(md) {
      padding: 30px;
    }
  }
}
