@use "../../global" as g;

.p-news-list {
  &__list {
    list-style: none;
  }
  &__item {
    display: flex;
    font-size: 14px;

    @include g.mq(md) {
      display: block;
    }
    &:not(:last-child) {
      margin-bottom: 15px;

      @include g.mq(md) {
        margin-bottom: 30px;
      }
    }
  }
  &__heading {
    display: flex;

    @include g.mq(md) {
      margin-bottom: 3px;
    }
  }
  &__body {
    flex: 1;
  }
  &__link {
    color: g.$color-text;
  }
  &__date {
    margin-right: 20px;
  }
  &__label {
    margin-right: 20px;
  }
}

.p-news-list-wrapper {
  &__inner {
    max-width: 780px;
  }
  &__body {
    margin-bottom: 40px;
  }
}
