@use "../../global" as g;

.p-news {
  &__inner {
    display: flex;
    max-width: 950px;

    @include g.mq(md) {
      display: block;
    }
  }
  &__heading {
    margin-right: 50px;

    @include g.mq(md) {
      margin-right: 0;
      margin-bottom: 30px;
      text-align: center;
    }
  }
  &__body {
    flex: 1;
  }
}
