@use "../../global" as g;

.p-recruit-message {
  text-align: center;
  &__heading {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 15px;
    color: g.$color-primary;

    @include g.mq(md) {
      margin: 20px 0;
    }
  }
  &__title {
    line-height: 1;
    margin-bottom: 10px;

    @include g.font-size(72);
    @include g.mq(md) {
      line-height: 1.2;

      @include g.font-size(48);
    }
  }
  &__subtitle {
    @include g.font-size(32);
    @include g.mq(md) {
      @include g.font-size(18);
    }
  }
  &__body {
    margin-bottom: 40px;

    @include g.font-size(16);
    @include g.mq(md) {
      @include g.font-size(15);
    }
  }

  &__img-wrapper img {
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  }
}
